<div class="card">
  <!-- <p-toast></p-toast> -->
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
        (click)="addEditLeaveRequest()"></button>
      <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger"
        (click)="deleteSelectedRequest()"
        [disabled]="!selectedLeaveRequests || !selectedLeaveRequests?.length"></button>
    </ng-template>

    <ng-template pTemplate="right">
      <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
              class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button> -->
      <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(table)"></button>
      <button pButton label="Refresh" class="p-button-outlined" icon="pi pi-refresh" style="margin-left: 10px;"
        (click)="reset()"></button>
    </ng-template>
  </p-toolbar>
  <p-table #table [value]="dataTable" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }" (onPage)="pageChange($event)"
    [rowsPerPageOptions]="[10, 25, dataTable?.length]" [loading]="loading" [globalFilterFields]="['leaveTypeName']"
    editMode="row" [(selection)]="selectedLeaveRequests" [rowHover]="true" [scrollable]="true" scrollHeight="480px"
    dataKey="userId">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="reason" style="width:10%">
          Reason
          <p-columnFilter type="text" field="reason" display="menu"></p-columnFilter>
          <p-sortIcon field="reason"></p-sortIcon>
        </th>
        <th pSortableColumn="employee.displayName" style="width:11%">
          Employee
          <p-columnFilter type="text" field="employee.displayName" display="menu"></p-columnFilter>
          <p-sortIcon field="employee.displayName"></p-sortIcon>
        </th>
        <th pSortableColumn="status" style="width:11%">
          Status
          <p-columnFilter type="text" field="status" display="menu"></p-columnFilter>
          <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th pSortableColumn="leaveEntitlement" style="width:11%">
          Leave Entitlement
          <p-columnFilter type="text" field="leaveEntitlement" display="menu"></p-columnFilter>
          <p-sortIcon field="leaveEntitlement"></p-sortIcon>
        </th>
        <th pSortableColumn="leaveDateFrom" style="width:11%">
          Leave Date From
          <p-columnFilter type="text" field="leaveDateFrom" display="menu"></p-columnFilter>
          <p-sortIcon field="leaveDateFrom"></p-sortIcon>
        </th>
        <th pSortableColumn="leaveDateTo" style="width:8%">
          Leave Date To
          <p-columnFilter type="text" field="leaveDateTo" display="menu"></p-columnFilter>
          <p-sortIcon field="leaveDateTo"></p-sortIcon>
        </th>
        <th pSortableColumn="session" style="width:14%">
          Session
          <p-columnFilter type="text" field="session" display="menu"></p-columnFilter>
          <p-sortIcon field="session"></p-sortIcon>
        </th>
        <th pSortableColumn="numberOfHour" style="width:10%">
          Number Of Hour
          <p-columnFilter type="text" field="numberOfHour" display="menu"></p-columnFilter>
          <p-sortIcon field="numberOfHour"></p-sortIcon>
        </th>
        <th pSortableColumn="note" style="width:10%">
          Note
          <p-columnFilter type="text" field="note" display="menu"></p-columnFilter>
          <p-sortIcon field="note"></p-sortIcon>
        </th>
        <th pSortableColumn="nationality" style="width:12%">
          Controlling
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-leaveRequest let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="leaveRequest">
        <td>
          <p-tableCheckbox [value]="leaveRequest"></p-tableCheckbox>
        </td>
        <td>{{ leaveRequest?.reason }}</td>
        <td>
          <img [alt]="" src="{{ leaveRequest?.User?.avatarUrl }}" width="32" style="vertical-align: middle" />
          {{ leaveRequest?.User?.firstName + " " + leaveRequest?.User?.middleName + " " +
          leaveRequest?.User?.lastName}}
        </td>
        <td><ng-container *ngTemplateOutlet="status; context: { row: leaveRequest }"></ng-container></td>
        <td>{{ leaveRequest?.LeaveEntitlement?.LeaveType?.leaveTypeName }}</td>
        <td>{{ leaveRequest?.leaveDateFrom | dateTimeFormat }}</td>
        <td>{{ leaveRequest?.leaveDateTo | dateTimeFormat }}</td>
        <td>{{ leaveRequest?.session }}</td>
        <td>{{ leaveRequest?.numberOfHour }}</td>
        <td>{{ leaveRequest?.note }}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
            (click)="addEditLeaveRequest(leaveRequest)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="deleteLeaveRequest(leaveRequest)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-table>
</div>

<ng-template #status let-row="row">
  <div class="badge badge-pill" [style.background-color]="handleDisplayStatus(row?.status, true)" [style.opacity]="isExpired(row)">
    <div style="color: white; ">
      {{handleDisplayStatus(row?.status)}}
    </div>
  </div>
</ng-template>