<div class="card w-100">
  <!-- <p-toast></p-toast> -->
  <p-toolbar *ngIf="!isOnlyCurrentUser" styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-button-sm"
        (click)="addEditAttendance()"></button>
      <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger p-button-sm"
        style="margin-left: 10px;" (click)="deleteSelectedAttendance()"
        [disabled]="!selectedAttendances || !selectedAttendances?.length"></button>
    </ng-template>

    <ng-template pTemplate="right">
      <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
          class="mr-2 inline-block"></p-fileUpload>
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button> -->
      <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash mr-2" (click)="clear(table)"></button>
      <button pButton label="Refresh" class="p-button-outlined" icon="pi pi-refresh"
        (click)="reset()"></button>
    </ng-template>
  </p-toolbar>
  <p-table #table styleClass="p-datatable-sm" [value]="dataTable" [paginator]="true" [rows]="10"
    [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }" (onPage)="pageChange($event)"
    [rowsPerPageOptions]="[10, 25, dataTable?.length]" [loading]="loading" [globalFilterFields]="['displayName']"
    editMode="row" [(selection)]="selectedAttendances" [rowHover]="true" [scrollable]="true" scrollHeight="700px"
    dataKey="userId">
    <ng-template *ngIf="!isOnlyCurrentUser" pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText class="p-inputtext-sm" type="text" (input)="table.filterGlobal($event.target.value, 'contains')"
            placeholder="Search by name" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngIf="!isOnlyCurrentUser" style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="displayName" style="width:20%">
          Employee
          <p-columnFilter type="text" field="displayName" display="menu"></p-columnFilter>
          <p-sortIcon field="displayName"></p-sortIcon>
        </th>
        <th pSortableColumn="punchinDate" style="width:15%">
          Punchin Date
          <p-columnFilter type="date" field="punchinDate" display="menu"></p-columnFilter>
          <!-- <p-sortIcon field="punchinDate"></p-sortIcon> -->
        </th>
        <th style="width:10%">
          Punchin Note
        </th>
        <th pSortableColumn="punchoutDate" style="width:15%">
          Punchout Date
          <p-columnFilter type="date" field="punchoutDate" display="menu"></p-columnFilter>
          <!-- <p-sortIcon field="punchoutDate"></p-sortIcon> -->
        </th>
        <th style="width:10%">
          Punchout Note
        </th>
        <th pSortableColumn="duration" style="width:15%">
          Duration
          <p-columnFilter type="numeric" field="duration" display="menu"></p-columnFilter>
          <p-sortIcon field="duration"></p-sortIcon>
        </th>
        <th style="width:15%">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-attendance let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="attendance">
        <td *ngIf="!isOnlyCurrentUser">
          <p-tableCheckbox [value]="attendance"></p-tableCheckbox>
        </td>
        <td>
          <img [alt]="" src="{{ attendance?.User?.avatarUrl }}" width="32" style="vertical-align: middle" />
          {{ attendance?.User?.firstName + " " + attendance?.User?.middleName + " " +
          attendance?.User?.lastName}}
        </td>
        <td>{{ attendance?.punchinDate | dateTimeFormat }}</td>
        <td>{{ attendance?.punchinNote }}</td>
        <td>{{ attendance?.punchoutDate | dateTimeFormat }}</td>
        <td>{{ attendance?.punchoutNote }}</td>
        <td>{{ attendance?.duration | numberFormat }}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-sm p-button-success mr-2"
            (click)="addEditAttendance(attendance)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-sm p-button-warning"
            (click)="deleteAttendance(attendance)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <!-- <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button> -->
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="20">No record found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>