<div class="d-flex flex-wrap" mat-dialog-title style="margin: unset; padding: 1px 10px 1px 28px">
    <p-button (click)="closeDialog()" class="ml-auto" icon="pi pi-times"
        styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
</div>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography mat-dialog-container">
    <div fxLayout="column" fxLayoutAlign="space-between center" class="col-container">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="custom-card" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="20" style="background-color: #F3F5F9;">
                <img style="cursor: pointer;" [src]="'https://upload.wikimedia.org/wikipedia/commons/b/bc/Unknown_person.jpg'"
                class="rounded-circle avatar-xl img-thumbnail" alt="profile-image" >
            </div>
            <div class="custom-card" fxFlex="20" >
                <p class="m-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                    quas!
                </p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="custom-card" fxFlex="20" >
                <p class="m-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                    quas!
                </p>
            </div>
            <div class="custom-card" fxFlex="20" >
                <p class="m-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                    quas!
                </p>
            </div>
        </div>
    </div>
</mat-dialog-content>