<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#"><span class="fw-bolder text-primary text-gradient d-inline">LH & HRM - Admin</span></a>
  </div>
</div>

<p-toast position="bottom-right" key="toast1"></p-toast>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="user-action">
      <nb-user size="medium" [name]="userDetail?.firstName + ' ' + userDetail?.middleName + ' ' + userDetail?.lastName"
      [onlyPicture]="userPictureOnly" [nbContextMenu]="userMenu" [picture]="userDetail?.avatarUrl"></nb-user>
    </nb-action>
  </nb-actions>
</div>
