<div fxLayout="row" class="main-container">
    <!-- attendance reports and leave request of another employees -->
    <div fxLayout="column" fxFlex="30" class="other-emp-container">
        <!-- attendance reports -->
        <div fxLayout="column" fxFlex="50">
            <div [nbSpinner]="isLoadingDashboard" class="card flex justify-content-center">
                <p-orderList [value]="dashboardData.waitingAttendanceReports" [listStyle]="{ 'height': '42vh' }"
                    header="Waiting Reports">
                    <ng-template let-report pTemplate="item">
                        <div fxLayout="row" fxLayoutGap="5">
                            <img (click)="openReportDialog(report)" fxFlex="20" [src]="report?.imageUrl"
                                [alt]="report?.imageUrl" />
                            <div (click)="openReportDialog(report)" fxLayout="column" fxFlex="50">
                                <h5 class="fw-bold mb-2">{{report.createdAt | date :'dd/MM/yyyy HH:mm'}}</h5>
                                <nb-user size="small" shape="rectangle"
                                    [name]="report?.User?.firstName + ' ' + report?.User?.middleName + ' ' + report?.User?.lastName"
                                    [onlyPicture]="false" [nbContextMenu]="userMenu"
                                    [picture]="report?.User?.avatarUrl"></nb-user>
                            </div>
                            <div fxLayout="row" fxFlex="30" fxLayoutGap="5" fxLayoutAlign="end center">
                                <button *ngIf="report?.statusId === 1" (click)="saveAttendanceReport(true, report)"
                                    matTooltip="Approve" pButton pRipple icon="pi pi-check-circle"
                                    class="p-button-sm p-button-success custom-dashboard-btn"></button>
                                <button *ngIf="report?.statusId === 1" (click)="saveAttendanceReport(false, report)"
                                    matTooltip="Reject" pButton pRipple icon="pi pi-times-circle"
                                    class="p-button-sm p-button-warning custom-dashboard-btn"></button>
                            </div>
                        </div>
                    </ng-template>
                </p-orderList>
            </div>
        </div>
        <!-- leave request -->
        <div fxLayout="column" fxFlex="50">
            <div [nbSpinner]="isLoadingDashboard" class="card flex justify-content-center">
                <p-orderList [value]="dashboardData.waitingLeaveRequests" [listStyle]="{ 'height': '42vh' }"
                    header="Waiting Leave Requests">
                    <ng-template let-leave pTemplate="item">
                        <div fxLayout="row" fxLayoutGap="5">
                            <div (click)="openLeaveDialog(leave)" fxLayout="column" fxFlex="70">
                                <h5 class="fw-bold mb-2">{{leave.leaveDateFrom | date :'dd/MM/yyyy HH:mm'}} -
                                    {{leave.leaveDateTo | date :'dd/MM/yyyy HH:mm'}}</h5>
                                <nb-user size="small" shape="rectangle"
                                    [name]="leave?.User?.firstName + ' ' + leave?.User?.middleName + ' ' + leave?.User?.lastName"
                                    [onlyPicture]="false" [nbContextMenu]="userMenu"
                                    [picture]="leave?.User?.avatarUrl"></nb-user>
                            </div>
                            <div fxLayout="row" fxFlex="30" fxLayoutGap="5" fxLayoutAlign="end center">
                                <button *ngIf="leave?.status === 1" (click)="saveLeaveRequest(true, leave)"
                                    matTooltip="Approve" pButton pRipple icon="pi pi-check-circle"
                                    class="p-button-sm p-button-success custom-dashboard-btn"></button>
                                <button *ngIf="leave?.status === 1" (click)="saveLeaveRequest(false, leave)"
                                    matTooltip="Reject" pButton pRipple icon="pi pi-times-circle"
                                    class="p-button-sm p-button-warning custom-dashboard-btn"></button>
                            </div>
                        </div>
                    </ng-template>
                </p-orderList>
            </div>
        </div>
    </div>
    <!-- Personal dasboard -->
    <div fxLayout="column" fxFlex="70">
        <div fxLayout="row" fxFlex="50" class="leave-attendance-container">
            <div fxLayout="column" fxFlex="50">
                <div [nbSpinner]="isLoadingDashboard" class="card flex justify-content-center">
                    <p-orderList [value]="dashboardData.myAttendanceReports" [listStyle]="{ 'height': '42vh' }"
                        header="My Attendance Reports">
                        <ng-template let-report pTemplate="item">
                            <div fxLayout="row" fxLayoutGap="5">
                                <img (click)="openReportDialog(report)" fxFlex="20" [src]="report?.imageUrl"
                                    [alt]="report?.imageUrl" />
                                <div (click)="openReportDialog(report)" fxLayout="column" fxFlex="50">
                                    <h5 class="fw-bold mb-2">{{report.createdAt | date :'dd/MM/yyyy HH:mm'}}</h5>
                                    <span class="fs-13 text-truncate">{{report.note}}</span>
                                </div>
                                <p-tag
                                    [severity]="report.status.dataStateName == 'APPROVED' ? 'success' : report.status.dataStateName == 'REJECTED' ? 'danger': 'primary'"
                                    fxFlex="20" fxLayoutAlign="end center" [value]="report.status.dataStateName" />
                            </div>
                        </ng-template>
                    </p-orderList>
                </div>
            </div>
            <!-- Attendance chart -->
            <div fxLayout="column" fxFlex="50">
                <div [nbSpinner]="isLoadingDashboard" class="card flex justify-content-center">
                    <p-orderList [value]="dashboardData.myLeaveRequest" [listStyle]="{ 'height': '42vh' }"
                        header="My Leave Requests">
                        <ng-template let-leave pTemplate="item">
                            <div fxLayout="row" fxLayoutGap="5">
                                <div (click)="openLeaveDialog(leave)" fxLayout="column" fxFlex="70">
                                    <h5 class="fw-bold mb-2">{{leave.leaveDateFrom | date :'dd/MM/yyyy HH:mm'}} -
                                        {{leave.leaveDateTo | date :'dd/MM/yyyy HH:mm'}}</h5>
                                    <span class="fs-13 text-truncate">{{leave?.reason || 'No reason'}}</span>
                                </div>
                                <p-tag
                                    [severity]="leave?.DataState?.dataStateName == 'APPROVED' ? 'success' : leave?.DataState?.dataStateName == 'REJECTED' ? 'danger': 'primary'"
                                    fxFlex="20" fxLayoutAlign="end center" [value]="leave.DataState.dataStateName" />
                            </div>
                        </ng-template>
                    </p-orderList>
                </div>
            </div>
        </div>

        <div fxLayout="column" fxFlex="50">
            <div fxLayout="row" fxFlex="35" fxLayoutAlign="center center">
                <div fxLayout="column" fxFlex="30">
                    <div fxLayout="row" fxLayoutAlign="center start" class="mt-2" fxLayoutGap="10">
                        <button (click)="setupDataFilter('prev')" pButton pRipple icon="pi pi-angle-left"
                            class="p-button-sm p-button-primary custom-dashboard-btn"></button>
                        <button (click)="setupDataFilter('this')" pButton pRipple
                            class="p-button-sm p-button-primary custom-dashboard-btn">This week</button>
                        <button (click)="setupDataFilter('next')" pButton pRipple icon="pi pi-angle-right"
                            class="p-button-sm p-button-primary custom-dashboard-btn"></button>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center start" class="mt-2 fs-13 fw-bold">{{timeRangeDisplay}}
                    </div>
                </div>
                <div fxFlex="70" fxLayout="row" fxLayoutGap="20">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <circle-progress class="margin-circle" [percent]="usedAnnualLeavePercentage" [space]="-8"
                            [radius]="40" [outerStrokeWidth]="8" [innerStrokeWidth]="8"
                            [outerStrokeColor]="usedAnnualLeavePercentage >=67 && usedAnnualLeavePercentage <= 100 ? '#4CC790' : usedAnnualLeavePercentage >=33 && usedAnnualLeavePercentage <67 ? '#3c9ee5' : '#ff9f00'"
                            [animation]="true" [animationDuration]="300" [titleFontSize]="'13px'"
                            [title]="annualLeaveEntitlement ? ((annualLeaveEntitlement?.usableLeave - annualLeaveEntitlement?.usedLeave)?.toFixed(1) + '/' + annualLeaveEntitlement?.usableLeave?.toFixed(1)) : '0/0'"
                            [maxPercent]="100"></circle-progress>
                        <span class="fs-13 header-text">Annual Leaves</span>
                    </div>

                    <div fxLayout="column" fxLayoutAlign="center center">
                        <circle-progress class="margin-circle" [percent]="usedSeniorityLeavePercentage" [space]="-8"
                            [radius]="40" [outerStrokeWidth]="8" [innerStrokeWidth]="8"
                            [outerStrokeColor]="usedSeniorityLeavePercentage >=67 && usedSeniorityLeavePercentage <= 100 ? '#4CC790' : usedSeniorityLeavePercentage >=33 && usedSeniorityLeavePercentage <67 ? '#3c9ee5' : '#ff9f00'"
                            [animation]="true" [animationDuration]="300" [titleFontSize]="'13px'"
                            [title]="seniorityLeaveEntitlement ? ((seniorityLeaveEntitlement?.usableLeave - seniorityLeaveEntitlement?.usedLeave)?.toFixed(1) + '/' + seniorityLeaveEntitlement?.usableLeave?.toFixed(1)) : '0/0'"
                            [maxPercent]="100"></circle-progress>
                        <span class="fs-13 header-text">Seniority Leaves</span>
                    </div>

                    <div fxLayout="column" fxLayoutAlign="center center">
                        <circle-progress class="margin-circle" [percent]="usedTransferLeavePercentage" [space]="-8"
                            [radius]="40" [outerStrokeWidth]="8" [innerStrokeWidth]="8"
                            [outerStrokeColor]="usedTransferLeavePercentage >=67 && usedTransferLeavePercentage <= 100 ? '#4CC790' : usedTransferLeavePercentage >=33 && usedTransferLeavePercentage <67 ? '#3c9ee5' : '#ff9f00'"
                            [animation]="true" [titleFontSize]="'13px'"
                            [title]="transferLeaveEntitlement ? ((transferLeaveEntitlement?.usableLeave - transferLeaveEntitlement?.usedLeave)?.toFixed(1)  + '/' + transferLeaveEntitlement?.usableLeave?.toFixed(1) ) : '0/0'"
                            [animationDuration]="300" [maxPercent]="100"></circle-progress>
                        <span class="fs-13 header-text">Transfer Leaves</span>
                    </div>

                    <div fxLayout="column" fxLayoutAlign="center center">
                        <circle-progress class="margin-circle" [percent]="usedUnpaidLeavePercentage" [space]="-8"
                            [radius]="40" [outerStrokeWidth]="8" [innerStrokeWidth]="8"
                            [outerStrokeColor]="usedUnpaidLeavePercentage >=67 && usedUnpaidLeavePercentage <= 100 ? '#4CC790' : usedUnpaidLeavePercentage >=33 && usedUnpaidLeavePercentage <67 ? '#3c9ee5' : '#ff9f00'"
                            [animation]="true" [animationDuration]="300" [titleFontSize]="'13px'"
                            [title]="unpaidLeaveEntitlement ? ((unpaidLeaveEntitlement?.usableLeave - unpaidLeaveEntitlement?.usedLeave)?.toFixed(1) + '/' + unpaidLeaveEntitlement?.usableLeave?.toFixed(1)) : '0/0'"
                            [maxPercent]="100"></circle-progress>
                        <span class="fs-13 header-text">Unpaid Leaves</span>
                    </div>
                </div>
            </div>

            <!-- Total -->
            <div fxLayout="row" fxFlex="65" class="total-container">
                <div fxFlex="70" echarts [options]="chartOption" [loading]="isLoadingChart"
                    style="width: 100%; height: 220px;" class="mt-3"></div>
                <div fxFlex="30" fxLayout="column" class="p-2 mt-4" fxLayoutAlign="start start" fxLayoutGap="10">
                    <h5 class="fw-bold">{{firstDayOfMonth | date}} - {{lastDayOfMonth | date}}: </h5>
                    <div fxLayout="row">
                        <p-button icon="pi pi-calendar" styleClass="p-button-sm mr-2"
                            class="custom-icon-button"></p-button>
                        <span class="fs-13" style="line-height: 22px;"> <b>Required:</b>
                            {{dashboardData?.requiredWorkingHours?.toFixed(2) || 0}} hours </span>
                    </div>
                    <div fxLayout="row">
                        <p-button icon="pi pi-check-circle" styleClass="p-button-sm mr-2 p-button-success"
                            class="custom-icon-button"></p-button>
                        <span class="fs-13" style="line-height: 22px;"> <b>Worked:</b>
                            {{dashboardData?.workedHours?.toFixed(2) || 0}} hours </span>
                    </div>
                    <div fxLayout="row">
                        <p-button icon="pi pi-sign-out" styleClass="p-button-sm mr-2 p-button-warning"
                            class="custom-icon-button"></p-button>
                        <span class="fs-13" style="line-height: 22px;"> <b>Leaves:</b>
                            {{dashboardData?.leaveHours?.toFixed(2) || 0}} hours </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>