.main-container {
    // background-color: white;
    height: 100%;
    width: 100%;

    nb-user .user-name {
        font-weight: 500 !important;
    }
}

// .other-emp-container  {
//     border-right: solid 2px #ccc;
// }

// .leave-attendance-container {
//     border-bottom: solid 2px #ccc;
// }

.custom-icon-button {
    ::ng-deep.p-button-icon-only {
        padding: 2px;
        width: 22px;
        height: 22px;

        .p-button-icon {
            font-size: 10px;
        }
    }
}

.custom-dashboard-btn {
    max-height: 40px;
}

.button-app-function {
    margin-right: 10px !important;
    background-color: #b45cea;
    color: white;
}