<div class="d-flex flex-wrap" mat-dialog-title style="margin: unset; padding: 1px 10px 1px 28px"
  [nbSpinner]="isLoading">
  <button mat-button color="primary" (click)="saveData()"
    [disabled]="!frmLeaveRequest.valid">
    <mat-icon fontSet=" material-icons-outlined">save</mat-icon>Save
  </button>
  <div fxLayout="row" fxLayoutAlign="end center" class="ml-auto">
    <!-- <ng-container
      *ngIf="hasSuperAdminPermission || (hasEditPermission && leaveRequestModel?.profile?.ownerId === user?.nameid)">
      <ng-container *ngIf="leaveRequestModel?.statusID === waitingID">
        <button mat-stroked-button (click)="saveStatusInline(approvalID, leaveRequestModel)">
          <mat-icon [style.color]="handleDisplayStatus(approvalID, true)">done</mat-icon>
          Approve
        </button>
        <button mat-stroked-button (click)="saveStatusInline(rejectID, leaveRequestModel)" style="margin: 0 10px;">
          <mat-icon [style.color]="handleDisplayStatus(rejectID, true)">block</mat-icon>
          Reject
        </button>
      </ng-container>
      <ng-container *ngIf="leaveRequestModel?.statusID === approvalID">
        <button mat-stroked-button (click)="saveStatusInline(rejectID, leaveRequestModel)" style="margin-right: 20px;">
          <mat-icon [style.color]="handleDisplayStatus(rejectID, true)">block</mat-icon>
          Reject
        </button>
      </ng-container>
      <ng-container *ngIf="leaveRequestModel?.statusID === rejectID">
        <button mat-stroked-button (click)="saveStatusInline(approvalID, leaveRequestModel)"
          style="margin-right: 20px;">
          <mat-icon [style.color]="handleDisplayStatus(approvalID, true)">done</mat-icon>
          Approve
        </button>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="leaveRequestModel?.profileId === user?.nameid">
      <ng-container *ngIf="leaveRequestModel?.statusID === waitingID">
        <button mat-stroked-button (click)="saveStatusInline(cancelledID, leaveRequestModel)"
          style="margin-right: 20px;">
          <mat-icon [style.color]="handleDisplayStatus(cancelledID, true)">cancel</mat-icon>
          Cancel
        </button>
      </ng-container>
    </ng-container> -->
    <button mat-icon-button aria-label="Close the dialog" (click)="closeDialog()" class="ml-auto">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography" style="height: 100%; overflow: auto;">
  <form [formGroup]="frmLeaveRequest" class="container">
    <div class="p-fluid p-grid p-formgrid">
      <div class="p-field p-col-12">
        <app-employee-searching required [banks]="listEmployees" (userSelect)="getAssignee($event)" [currentUser]="employeeChosen"
          [readonly]="true">
        </app-employee-searching>
      </div>
      <div class="p-field p-col-12 p-md-2">
        <label for="reason">Reason</label>
        <input formControlName="reason" id="reason" type="reason" aria-describedby="reason-help" pInputText/>
        <small id="reason-help" *ngIf="
          frmLeaveRequest?.controls?.reason?.errors &&
          (frmLeaveRequest?.controls?.reason?.dirty ||
            frmLeaveRequest?.controls?.reason?.touched)
          ">{{ frmLeaveRequest?.controls?.reason["errorMessage"] }}</small>
      </div>
      <div class="p-field p-col-12 p-md-2">
        <label for="session">Session</label>
        <p-dropdown formControlName="session" id="session" [options]="listSessions" [(ngModel)]="sessionDefault" 
          (onChange)="selectionSession($event)" placeholder="Session"></p-dropdown>
      </div>
      <div class="p-field p-col-12 p-md-2">
        <label for="leaveFrom">Leave Date From</label>
        <p-calendar formControlName="leaveDateFrom" [(ngModel)]="defaultStartTime" inputId="leaveFrom" aria-describedby="leaveFrom-help"
          [showIcon]="true" [showClear]="true"
          [minDate]="minDate" [defaultDate]="defaultStartTime" [readonlyInput]="true" 
          [showTime]="true" [hourFormat]="24" [stepHour]="1" [stepMinute]="15"></p-calendar>
        <small id="leaveFrom-help" *ngIf="
          frmLeaveRequest?.controls?.leaveDateFrom?.errors &&
          (frmLeaveRequest?.controls?.leaveDateFrom?.dirty ||
            frmLeaveRequest?.controls?.leaveDateFrom?.touched)
          ">{{ frmLeaveRequest?.controls?.leaveDateFrom["errorMessage"] }}</small>
      </div>
      <div class="p-field p-col-12 p-md-2">
        <label for="leaveTo">Leave Date To</label>
        <p-calendar formControlName="leaveDateTo" [(ngModel)]="defaultEndTime" inputId="leaveTo" aria-describedby="leaveTo-help"
          [showIcon]="true" [showClear]="true"
          [minDate]="minDate" [defaultDate]="defaultEndTime" [readonlyInput]="true" 
          [showTime]="true" [hourFormat]="24" [stepHour]="1" [stepMinute]="15"></p-calendar>
        <small id="leaveTo-help" *ngIf="
          frmLeaveRequest?.controls?.leaveDateTo?.errors &&
          (frmLeaveRequest?.controls?.leaveDateTo?.dirty ||
            frmLeaveRequest?.controls?.leaveDateTo?.touched)
          ">{{ frmLeaveRequest?.controls?.leaveDateTo["errorMessage"] }}</small>
      </div>
      <div class="p-field p-col-12 p-md-2">
        <label for="status">Status</label>
        <p-dropdown formControlName="status" id="status" [options]="listStatus" [(ngModel)]="statusDefault"
          optionLabel="dataStateName" optionValue="dataStateId" placeholder="Status"></p-dropdown>
      </div>
      <div class="p-field p-col-12 p-md-2" *ngIf="action !== 0">
        <label for="numberOfHour">Number Of Hours</label>
        <input formControlName="numberOfHour" id="numberOfHour" type="numberOfHour" aria-describedby="numberOfHour-help" pInputText/>
        <small id="numberOfHour-help" *ngIf="
          frmLeaveRequest?.controls?.numberOfHour?.errors &&
          (frmLeaveRequest?.controls?.numberOfHour?.dirty ||
            frmLeaveRequest?.controls?.numberOfHour?.touched)
        ">{{ frmLeaveRequest?.controls?.numberOfHour["errorMessage"] }}</small>
      </div>
      <div class="p-field p-col-12 p-md-2">
        <label for="leaveEntitlement">Leave Entitlement</label>
        <p-dropdown formControlName="leaveEntitlementId" id="leaveEntitlement" [options]="employeeListLeaveEntitlement" [(ngModel)]="leaveEntitlementChoosen ? leaveEntitlementChoosen?.leaveEntitlementId : leaveEntitlementDefault"
          placeholder="Choose Leave Entitlement" aria-describedby="leaveEntitlementId-help"
          optionValue="leaveEntitlementId" (onChange)="selectionLeaveEntitlement($event)">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="leaveEntitlementChoosen">
              {{leaveEntitlementChoosen?.LeaveType?.leaveTypeName}} ({{leaveEntitlementChoosen?.usableLeave - leaveEntitlementChoosen?.usedLeave}})
            </div>
          </ng-template>
          <ng-template let-leaveEntitlement pTemplate="item">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div>
                {{leaveEntitlement?.LeaveType?.leaveTypeName}} ({{leaveEntitlement?.usableLeave -
                leaveEntitlement?.usedLeave}})
              </div>
              <div *ngIf="leaveEntitlement?.LeaveType?.isPaidSalary">
                <span class="badge badge-pill badge-primary" style="font-size: 12px"
                  [style.background-color]="'#00a339'">
                  Paid Leave
                </span>
              </div>
            </div>
          </ng-template>
        </p-dropdown>
        <small id="leaveEntitlementId-help" *ngIf="
          frmLeaveRequest?.controls?.leaveEntitlementId?.errors &&
          (frmLeaveRequest?.controls?.leaveEntitlementId?.dirty ||
            frmLeaveRequest?.controls?.leaveEntitlementId?.touched)
        ">{{ frmLeaveRequest?.controls?.leaveEntitlementId["errorMessage"] }}</small>
      </div>
      <div class="p-field p-col-12 p-md-2">
        <label for="note">Note</label>
        <input formControlName="note" id="note" type="note" pInputText/>
      </div>
    </div>
  </form>
</mat-dialog-content>