<div class="dialog-header" fxLayout="row" fxLayoutAlign="start center" mat-dialog-title
  style="margin: unset; padding: 1px 10px 1px 28px" [nbSpinner]="isLoading">
  <p-button label="Save" [disabled]="!frmLeaveRequest.valid" [loading]="isLoading" icon="pi pi-save"
    (click)="saveData()" styleClass="p-button-sm"></p-button>
  <div fxLayout="row" fxLayoutAlign="end center" class="ml-auto">
    <!-- <ng-container
      *ngIf="hasSuperAdminPermission || (hasEditPermission && leaveRequestModel?.profile?.ownerId === user?.nameid)">
      <ng-container *ngIf="leaveRequestModel?.statusID === waitingID">
        <button mat-stroked-button (click)="saveStatusInline(approvalID, leaveRequestModel)">
          <mat-icon [style.color]="handleDisplayStatus(approvalID, true)">done</mat-icon>
          Approve
        </button>
        <button mat-stroked-button (click)="saveStatusInline(rejectID, leaveRequestModel)" style="margin: 0 10px;">
          <mat-icon [style.color]="handleDisplayStatus(rejectID, true)">block</mat-icon>
          Reject
        </button>
      </ng-container>
      <ng-container *ngIf="leaveRequestModel?.statusID === approvalID">
        <button mat-stroked-button (click)="saveStatusInline(rejectID, leaveRequestModel)" style="margin-right: 20px;">
          <mat-icon [style.color]="handleDisplayStatus(rejectID, true)">block</mat-icon>
          Reject
        </button>
      </ng-container>
      <ng-container *ngIf="leaveRequestModel?.statusID === rejectID">
        <button mat-stroked-button (click)="saveStatusInline(approvalID, leaveRequestModel)"
          style="margin-right: 20px;">
          <mat-icon [style.color]="handleDisplayStatus(approvalID, true)">done</mat-icon>
          Approve
        </button>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="leaveRequestModel?.profileId === user?.nameid">
      <ng-container *ngIf="leaveRequestModel?.statusID === waitingID">
        <button mat-stroked-button (click)="saveStatusInline(cancelledID, leaveRequestModel)"
          style="margin-right: 20px;">
          <mat-icon [style.color]="handleDisplayStatus(cancelledID, true)">cancel</mat-icon>
          Cancel
        </button>
      </ng-container>
    </ng-container> -->
    <button mat-icon-button aria-label="Close the dialog" (click)="closeDialog()" class="ml-auto">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography" style="height: 100%; overflow: auto;">
  <form [formGroup]="frmLeaveRequest" class="container">
    <div class="p-fluid p-grid p-formgrid">
      <!-- <div class="p-field p-col-12">
        <app-employee-searching required [banks]="listEmployees" (userSelect)="getAssignee($event)" [currentUser]="employeeChosen"
          [readonly]="true">
        </app-employee-searching>
      </div> -->

      <div class="p-fluid p-grid p-formgrid p-md-1">
        <div class="p-field p-col-12">
          <label class="fs-14 fw-500" for="employee">Employee</label>
          <p-dropdown (onChange)="onChangeEmployee($event)" class="p-inputtext-sm" [options]="listEmployees"
            formControlName="userId" optionValue="userId" [filter]="true" filterBy="firstName,middleName,lastName,email" [showClear]="true"
            placeholder="Select an Employee"
            [readonly]="action === 0 ? false : true">
            <ng-template pTemplate="selectedItem">
              <div class="flex align-items-center gap-2 dropdown-items-with-img" *ngIf="employeeChosen">
                <nb-user class="custom-nb-user-small" size="small"
                  [name]="(employeeChosen?.firstName || '') + ' '  + (employeeChosen?.middleName || '') + ' ' + (employeeChosen?.lastName||'')"
                  [title]="employeeChosen.email" [showTitle]="true" [picture]=" employeeChosen?.avatarUrl"></nb-user>
              </div>
            </ng-template>
            <ng-template let-employee pTemplate="item">
              <div class="flex align-items-center gap-2 dropdown-items-with-img">
                <nb-user class="custom-nb-user-small" size="small"
                  [name]="(employee?.firstName || '') + ' '  + (employee?.middleName || '') + ' ' + (employee?.lastName||'')"
                  [title]="employee.email" [showTitle]="true" [picture]=" employee?.avatarUrl"></nb-user>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>

      <div class="p-field p-col-12 p-md-1">
        <label class="fs-14 fw-500" for="reason">Reason</label>
        <input class="p-inputtext-sm" formControlName="reason" id="reason" type="reason" aria-describedby="reason-help"
          pInputText />
        <mat-error id="reason-help" *ngIf="
          frmLeaveRequest?.controls?.reason?.errors &&
          (frmLeaveRequest?.controls?.reason?.dirty ||
            frmLeaveRequest?.controls?.reason?.touched)
          ">{{ frmLeaveRequest?.controls?.reason["errorMessage"] }}</mat-error>
      </div>
      <div class="p-field p-col-12 p-md-1">
        <label class="fs-14 fw-500" for="session">Session</label>
        <p-dropdown class="p-inputtext-sm" formControlName="session" id="session" [options]="listSessions"
          [(ngModel)]="sessionDefault" (onChange)="selectionSession($event)" placeholder="Session"></p-dropdown>
      </div>
      <div class="p-field p-col-12 p-md-1">
        <label class="fs-14 fw-500" for="leaveFrom">Leave Date From</label>
        <p-calendar class="p-inputtext-sm" formControlName="leaveDateFrom" [(ngModel)]="defaultStartTime"
          inputId="leaveFrom" aria-describedby="leaveFrom-help" [showIcon]="true" [showClear]="true" [minDate]="minDate"
          [defaultDate]="defaultStartTime" [readonlyInput]="true" [showTime]="true" [hourFormat]="24" [stepHour]="1"
          [stepMinute]="15"></p-calendar>
        <mat-error id="leaveFrom-help" *ngIf="
          frmLeaveRequest?.controls?.leaveDateFrom?.errors &&
          (frmLeaveRequest?.controls?.leaveDateFrom?.dirty ||
            frmLeaveRequest?.controls?.leaveDateFrom?.touched)
          ">{{ frmLeaveRequest?.controls?.leaveDateFrom["errorMessage"] }}</mat-error>
      </div>
      <div class="p-field p-col-12 p-md-1">
        <label class="fs-14 fw-500" for="leaveTo">Leave Date To</label>
        <p-calendar class="p-inputtext-sm" formControlName="leaveDateTo" [(ngModel)]="defaultEndTime" inputId="leaveTo"
          aria-describedby="leaveTo-help" [showIcon]="true" [showClear]="true" [minDate]="minDate"
          [defaultDate]="defaultEndTime" [readonlyInput]="true" [showTime]="true" [hourFormat]="24" [stepHour]="1"
          [stepMinute]="15"></p-calendar>
        <mat-error id="leaveTo-help" *ngIf="
          frmLeaveRequest?.controls?.leaveDateTo?.errors &&
          (frmLeaveRequest?.controls?.leaveDateTo?.dirty ||
            frmLeaveRequest?.controls?.leaveDateTo?.touched)
          ">{{ frmLeaveRequest?.controls?.leaveDateTo["errorMessage"] }}</mat-error>
      </div>
      <div class="p-field p-col-12 p-md-1">
        <label class="fs-14 fw-500" for="status">Status</label>
        <p-dropdown class="p-inputtext-sm" formControlName="status" id="status" [options]="listStatus"
          [(ngModel)]="statusDefault" optionLabel="dataStateName" optionValue="dataStateId"
          placeholder="Status"></p-dropdown>
      </div>
      <div class="p-field p-col-12 p-md-1" *ngIf="action !== 0">
        <label class="fs-14 fw-500" for="numberOfHour">Number Of Hours</label>
        <input class="p-inputtext-sm" formControlName="numberOfHour" id="numberOfHour" type="numberOfHour"
          aria-describedby="numberOfHour-help" pInputText />
        <mat-error id="numberOfHour-help" *ngIf="
          frmLeaveRequest?.controls?.numberOfHour?.errors &&
          (frmLeaveRequest?.controls?.numberOfHour?.dirty ||
            frmLeaveRequest?.controls?.numberOfHour?.touched)
        ">{{ frmLeaveRequest?.controls?.numberOfHour["errorMessage"] }}</mat-error>
      </div>
      <div class="p-field p-col-12 p-md-1">
        <label class="fs-14 fw-500" for="leaveEntitlement">Leave Entitlement</label>
        <p-dropdown class="p-inputtext-sm" formControlName="leaveEntitlementId" id="leaveEntitlement"
          [options]="employeeListLeaveEntitlement"
          [(ngModel)]="leaveEntitlementChoosen ? leaveEntitlementChoosen?.leaveEntitlementId : leaveEntitlementDefault"
          placeholder="Choose Leave Entitlement" aria-describedby="leaveEntitlementId-help"
          optionValue="leaveEntitlementId" (onChange)="selectionLeaveEntitlement($event)"
          optionDisabled="disabled">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="leaveEntitlementChoosen">
              {{leaveEntitlementChoosen?.LeaveType?.leaveTypeName}} ({{leaveEntitlementChoosen?.usableLeave -
              leaveEntitlementChoosen?.usedLeave}})
            </div>
          </ng-template>
          <ng-template let-leaveEntitlement pTemplate="item">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div>
                {{leaveEntitlement?.LeaveType?.leaveTypeName}} ({{leaveEntitlement?.usableLeave - leaveEntitlement?.usedLeave}})
              </div>
              <div *ngIf="leaveEntitlement?.LeaveType?.isPaidSalary">
                <span class="badge badge-pill badge-primary" style="font-size: 12px"
                  [style.background-color]="'#00a339'">
                  Paid Leave
                </span>
              </div>
            </div>
          </ng-template>
        </p-dropdown>
        <mat-error id="leaveEntitlementId-help" *ngIf="
          frmLeaveRequest?.controls?.leaveEntitlementId?.errors &&
          (frmLeaveRequest?.controls?.leaveEntitlementId?.dirty ||
            frmLeaveRequest?.controls?.leaveEntitlementId?.touched)
        ">{{ frmLeaveRequest?.controls?.leaveEntitlementId["errorMessage"] }}</mat-error>
      </div>
      <div class="p-field p-col-12 p-md-1">
        <label class="fs-14 fw-500" for="note">Note</label>
        <input class="p-inputtext-sm" formControlName="note" id="note" type="note" pInputText />
      </div>
    </div>
  </form>
</mat-dialog-content>