<div class="card">
  <!-- <p-toast></p-toast> -->
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
        (click)="addEditEmployee()"></button>
      <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger"
        (click)="deleteSelectedProducts()" [disabled]="!selectedEmployees || !selectedEmployees?.length"></button>
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
        class="mr-2 inline-block"></p-fileUpload>
      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
      <p-button class="p-input-icon-left ml-auto" type="button" icon="pi pi-refresh" (click)="reset()"
        styleClass="p-button-text"></p-button>
    </ng-template>
  </p-toolbar>
  <p-table #table [value]="dataTable" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" (onPage)="pageChange($event)"
    [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [globalFilterFields]="['displayName']" editMode="row"
    [selection]="selectedEmployees" [rowHover]="true" dataKey="userId">
    <ng-template pTemplate="caption">
      <div class="flex">
        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
          (click)="clear(table)"></button>
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="table.filterGlobal($event.target.value, 'contains')"
            placeholder="Search by name" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="displayName" style="width:15%">
          Employee
          <p-columnFilter type="text" field="displayName" display="menu"></p-columnFilter>
          <p-sortIcon field="displayName"></p-sortIcon>
        </th>
        <th pSortableColumn="email" style="width:15%">
          Email
          <p-columnFilter type="text" field="email" display="menu"></p-columnFilter>
          <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="email" style="width:15%">
          Role
        </th>
        <th pSortableColumn="phoneNumber" style="width:10%">
          Phone Number
          <p-columnFilter type="text" field="phoneNumber" display="menu"></p-columnFilter>
          <p-sortIcon field="phoneNumber"></p-sortIcon>
        </th>
        <th style="width:10%">
          Job Title
          <p-columnFilter type="text" field="jobTitle" display="menu"></p-columnFilter>
          <p-sortIcon field="jobTitle"></p-sortIcon>
        </th>
        <th style="width:10%">
          Manage By
          <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false"
            [showOperator]="false" [showAddButton]="false">
            <ng-template pTemplate="header">
              <div class="px-3 pt-3 pb-0">
                <span class="font-bold">Agent Picker</span>
              </div>
            </ng-template>
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any"
                (onChange)="filter($event.value)" optionLabel="name">
                <ng-template let-option pTemplate="item">
                  <div class="inline-block vertical-align-middle">
                    <img [alt]="option.label"
                      src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ option.image }}" width="24"
                      class="vertical-align-middle" />
                    <span class="ml-1 mt-1">{{ option.name }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th pSortableColumn="gender" style="width:10%">
          Gender
          <p-columnFilter type="text" field="gender" display="menu"></p-columnFilter>
          <p-sortIcon field="gender"></p-sortIcon>
        </th>
        <th pSortableColumn="nationality" style="width:10%">
          Nationality
          <p-columnFilter type="text" field="nationality" display="menu"></p-columnFilter>
          <p-sortIcon field="nationality"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="employee">
        <td>
          <img [alt]="" src="{{ employee?.avatarUrl }}" width="32" style="vertical-align: middle" />
          {{ employee?.displayName }}
        </td>
        <td>{{ employee?.email }}</td>
        <td *ngFor="let role of employee?.Roles">
          {{ role?.displayName }}
        </td>
        <td>{{ employee?.phoneNumber }}</td>
        <td>{{ employee?.jobTitle }}</td>
        <td>{{ employee?.ownerId }}</td>
        <td>{{ employee?.gender }}</td>
        <td>{{ employee?.nationality }}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
            (click)="addEditEmployee(employee)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="deleteEmployee(employee)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-table>
</div>