<div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div style="display:flex; justify-content: left">
      <mat-button-toggle-group multiple (change)="changeStatus($event)" [(ngModel)]="listStatusChoose"
        style="border: none; background-color: #edf1f7; height: 42px;">
        <mat-button-toggle *ngFor="let item of listStatus" style="border: none; background-color: #edf1f7;"
          value="{{ item?.value }}" [ngStyle]="{'color': !listStatusChoose?.includes(item?.value) ? '#cccccc' : ''}">
          <mat-icon style="margin-right: 0px !important;"
            [ngStyle]="{'color': !listStatusChoose?.includes(item?.value) ? '#dddddd' : item?.codeColor}">fiber_manual_record</mat-icon>
          {{ item?.display }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div style="display:flex; justify-content: center;">
      <mat-button-toggle-group class="attendance-report-mode" [(ngModel)]="typeMode">
        <mat-button-toggle value="List" ngDefaultControl [ngClass]="{'selected-button-type': typeMode === 'List'}"
          routerLink="/admin/report-schedule" matTooltip="Go to Report Schedule">
          <mat-icon>compost</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="Grid" [ngClass]="{'selected-button-type': typeMode === 'Grid'}"
          routerLink="/admin/work-calendar" matTooltip="Go to Work Calendar">
          <mat-icon>edit_calendar</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div style="display: flex; justify-content: right">
      <mat-toolbar style="display: flex; justify-content: right; background-color: #edf1f7; align-items: center;">
        <nb-toggle (checkedChange)="getMyEmployeeAttendance($event)" style="margin-right: 20px; margin-top: 10px;"
          [checked]="isMyEmployee"> My Employees </nb-toggle>
        <button mat-raised-button style="background-color: #b45cea; color: white;" class="button-app-function"
          (click)="refreshData()">
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-raised-button style="background-color: #b45cea; color: white;" class="button-app-function"
          (click)="prevData()">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <button mat-raised-button style="background-color: #b45cea; color: white;" class="button-app-function"
          (click)="refreshThis()">
          {{ timeModeDisplay }}
        </button>
        <button mat-raised-button style="background-color: #b45cea; color: white;" class="button-app-function"
          (click)="nextData()">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
        <!-- <button mat-raised-button style="background-color: #b45cea; color: white;" [matMenuTriggerFor]="exportMenu"
          [nbSpinner]="btnExportState" class="button-app-function">Export</button> -->
      </mat-toolbar>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div style="display:flex; justify-content: left">
    </div>
    <div style="display: flex; justify-content: right">
      <mat-toolbar style="background-color: #edf1f7; align-items: center;">
        <form [formGroup]="frmGroup" class="form-function-filter">
          <div class="col-12" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="12px"
            style="height: 64px;">
            <!-- <app-dropdown-filter class="dropdown-filter-function" [columnName]="'Choose role'"
              [filter]="configFilterRole" [value]="dataFilterWorkCalendar?.listRoles ?? null"
              (onFilter)="onFilterDropDownRole($event)">
            </app-dropdown-filter> -->

            <p-multiSelect #multiSelectRoles (onChange)="onFilterDropDownRole($event)" class="p-inputtext-sm" [options]="listRoles"
              optionValue="roleId" optionLabel="displayName" [filter]="true" filterBy="roleName,displayName"
              placeholder="Choose Role">
            </p-multiSelect>

            <p-multiSelect (onChange)="onFilterDropDownEmployee($event)" class="p-inputtext-sm" [options]="listEmployees"
              optionValue="userId" optionLabel="displayName" [filter]="true" filterBy="firstName,middleName,lastName,email"
              placeholder="Choose Employee">
              <ng-template let-employee pTemplate="item">
                <div class="flex align-items-center gap-2 dropdown-items-with-img">
                  <nb-user class="custom-nb-user-small" size="small"
                    [name]="(employee?.firstName || '') + ' '  + (employee?.middleName || '') + ' ' + (employee?.lastName||'')"
                    [title]="employee.email" [showTitle]="true" [picture]=" employee?.avatarUrl"></nb-user>
                </div>
              </ng-template>
            </p-multiSelect>

            <mat-label style="font-size: 14px;">From date:</mat-label>
            <mat-form-field class="form-function-filter" appearance="fill">
              <input matInput [matDatepicker]="fromDatePicker" formControlName="fromDate" readonly
                (click)="fromDatePicker.open()">
              <mat-datepicker #fromDatePicker>
              </mat-datepicker>
            </mat-form-field>

            <mat-label style="font-size: 14px;">To date:</mat-label>
            <mat-form-field class="form-function-filter" appearance="fill">
              <input matInput [matDatepicker]="toDatePicker" formControlName="toDate" readonly
                (click)="toDatePicker.open()">
              <mat-datepicker #toDatePicker>
              </mat-datepicker>
            </mat-form-field>
          </div>
        </form>
        <button mat-raised-button style="color: white; margin: 0 10px;" class="background-gradient"
          (click)="applyFilter()">
          Apply Filter
        </button>
      </mat-toolbar>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" style="height: 30px; padding-bottom: 15px;">

  </div>
  <div [nbSpinner]="isLoading" class="example-container mat-elevation-z2">
    <div class="example-table-container" #dataTable>
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="userName" sticky>
          <th mat-header-cell *matHeaderCellDef class="header-table-color first-table-cell-fixed"
            style="text-align: center; background-color: white;"> EMPLOYEES </th>
          <td mat-cell *matCellDef="let element" style="text-align: left; border-color: #696969;">
            <b style="padding-left: 10px; cursor: pointer;" (click)="openEmployeeDetail(element.userId)">
              {{element.userName}} </b>
          </td>
        </ng-container>

        <ng-container *ngFor="let column of headerData">
          <ng-container [matColumnDef]="column.key">
            <ng-container *ngIf="timeMode === 'Week'">
              <th mat-header-cell *matHeaderCellDef [attr.colspan]="column.length" style="text-align: center;"
                class="header-table-color tableCellFixedWeek"
                [ngStyle]="{'background-color': (column?.value | checkColorToday: timeMode: frmGroup?.get('fromDate')?.value) === 'today' ? '#8dc63f' : 'white'}">
                {{column?.value}}
              </th>
              <ng-container *ngIf="viewMode === 'Both'">
                <td mat-cell *matCellDef="let element" class="custom-font" style="border-color: #696969;">
                  <div fxLayout="column" fxLayoutAlign="space-around center">
                    <ng-container fxFlex="40" *ngTemplateOutlet="workCalendar; context: {data: element[column.key]}"></ng-container>
                    <ng-container fxFlex="60"  *ngTemplateOutlet="workCalendarDetail; context: {data: element[column.key]}"></ng-container>
                  </div>
                </td>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="headerData2;sticky: true" class="report-header-row"></tr>
        <tr mat-row *matRowDef="let row; columns: headerData2;" class="report-row"></tr>
      </table>
    </div>
  </div>
</div>

<ng-template #workCalendar let-data="data">
  <ng-container *ngIf="data">
    <div class="p-fluid p-grid p-formgrid p-md-1">
      <div class="p-field p-col-12" [ngClass]="{disabledNoOfCasesDiv: !(user?.userId === data?.userId || user?.userId === data?.User?.ownerId)}">
        <div class="p-inputgroup">
          <p-dropdown [options]="lstWorkType" [(ngModel)]="data.workingType" optionLabel="dataStateName" optionValue="dataStateId"
            (onChange)="editWorkType($event, data)">
            <ng-template pTemplate="selectedItem">
              <div *ngIf="data.workingType">
                <i class="pi pi-building" *ngIf="data.workingType === 5" style="color: #a33ce3;"></i>
                <i class="pi pi-home" *ngIf="data.workingType === 6" style="color: #f78282"></i>
              </div>
            </ng-template>
          </p-dropdown>
          <p-dropdown [options]="lstWorkHours" [(ngModel)]="data.workingHour" [readonly]="true"
            (onChange)="editWorkHour($event, data)"></p-dropdown>
          <i class="pi pi-plus-circle"
            style="align-items: center; display: flex;"
            [matMenuTriggerFor]="addEditWorkCalendarDetail"
            [matMenuTriggerData]="{ data: data, model: null }"></i>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #workCalendarDetail let-data="data">
  <div style="max-height: 64px; min-height: 64px; overflow: auto;">
    <p-listbox *ngIf="data?.WorkCalendarDetails?.length > 0" [options]="data?.WorkCalendarDetails">
      <ng-template let-item pTemplate="item">
        <div [ngStyle]="{'background-color': item?.codeColor}"
          style="color: white; font-size: 12px; min-width: 130px;"
          [matMenuTriggerFor]="addEditWorkCalendarDetail"
          [matMenuTriggerData]="{ data: data, model: item }">
          <div fxLayout="row" fxLayoutAlign="space-between center" >
            <div fxFlex="80">
              {{item?.from}} - {{item?.to}}
            </div>
            <div fxFlex="20">
              <i class="pi pi-eye" *ngIf="item?.isReviewed"></i>
            </div>
          </div>
          <span>{{item?.description}}</span>
        </div>
      </ng-template>
    </p-listbox>
  </div>
</ng-template>

<mat-menu #addEditWorkCalendarDetail="matMenu" xPosition="after">
  <ng-template matMenuContent let-data="data" let-model="model">
    <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
      <app-add-edit-work-calendar-detail [data]="data" [model]="model" (onRefresh)="callDataSource()"></app-add-edit-work-calendar-detail>
    </div>
  </ng-template>
</mat-menu>

<mat-menu #exportMenu="matMenu" xPosition="after">
  <button mat-menu-item color="primary" [nbSpinner]="btnExportState" class="button-app-function"
    (click)="exportData(false)">
    Summary Report
  </button>
  <button mat-menu-item color="primary" [nbSpinner]="btnExportState" class="button-app-function"
    (click)="exportData(true)">
    Detail Report
  </button>
</mat-menu>

<mat-menu #nonDisplayMenu="matMenu" class="d-none"></mat-menu>