<div class="dialog-header" fxLayout="row" fxLayoutAlign="start center" mat-dialog-title
  style="margin: unset; padding: 1px 10px 1px 28px" [nbSpinner]="isLoading">
  <p-button label="Save" [disabled]="!frmLeaveType.valid" [loading]="isLoading" icon="pi pi-save" (click)="saveData()"
    styleClass="p-button-sm"></p-button>
  <div fxLayout="row" fxLayoutAlign="end center" class="ml-auto">
    <button mat-icon-button aria-label="Close the dialog" (click)="closeDialog()" class="ml-auto">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="frmLeaveType" class="container">
    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="fill">
          <mat-label>Leave Type Name</mat-label>
          <input matInput formControlName="leaveTypeName" autocomplete="off" required
            trim="blur" />
          <mat-error *ngIf="
              frmLeaveType?.controls?.leaveTypeName?.errors &&
              (frmLeaveType?.controls?.leaveTypeName?.dirty ||
                frmLeaveType?.controls?.leaveTypeName?.touched)
            ">
            {{ frmLeaveType?.controls.leaveTypeName["errorMessage"] }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="fill" trim="blur">
          <mat-label>Default Start Day</mat-label>
          <mat-select required formControlName="defaultStartDay">
              <mat-option *ngFor="let day of listDay" [value]="day">
                  {{day}}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="fill" trim="blur">
          <mat-label>Default Start Month</mat-label>
          <mat-select required formControlName="defaultStartMonth">
              <mat-option *ngFor="let month of listMonth" [value]="month">
                  {{month}}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="fill" trim="blur">
          <mat-label>Default End Day</mat-label>
          <mat-select required formControlName="defaultEndDay">
              <mat-option *ngFor="let day of listDay" [value]="day">
                  {{day}}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="fill" trim="blur">
          <mat-label>Default End Month</mat-label>
          <mat-select required formControlName="defaultEndMonth">
              <mat-option *ngFor="let month of listMonth" [value]="month">
                  {{month}}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="fill">
          <mat-label>Budget Default</mat-label>
          <input matInput formControlName="defaultBudget" autocomplete="off"/>
          <mat-error *ngIf="
              frmLeaveType?.controls?.defaultBudget?.errors &&
              (frmLeaveType?.controls?.defaultBudget?.dirty ||
                frmLeaveType?.controls?.defaultBudget?.touched)
            ">
            {{ frmLeaveType?.controls.defaultBudget["errorMessage"] }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-lg-6">
        <nb-toggle formControlName="isPaidSalary" status="success">Paid Leave</nb-toggle>
      </div>
    </div>
  </form>
</mat-dialog-content>