::ng-deep.dialog-header .p-button.p-button-sm {
    padding: 0.5rem 1rem;
}

::ng-deep.fs-16 {
    font-size: 14px;
}

::ng-deep.fs-15 {
    font-size: 14px;
}

::ng-deep.fs-14 {
    font-size: 14px;
}

::ng-deep.fs-13 {
    font-size: 13px;
}

::ng-deep.fs-12 {
    font-size: 12px;
}

::ng-deep.fs-10 {
    font-size: 10px;
}

::ng-deep.fw-500 {
    font-weight: 500;
}

::ng-deep.text-red {
    color: red;
}

::ng-deep.mat-mdc-form-field-error {
    font-size: 12px;
}

::ng-deep .custom-nb-user-small {
    cursor: pointer;

    .user-name {
        font-size: 14px !important;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
        font-weight: 500;
    }

    .user-picture {
        width: 30px !important;
        height: 30px !important;
    }
}

::ng-deep .custom-radio-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .p-radiobutton .p-radiobutton-box {
        height: 18px;
        width: 18px;

        .p-radiobutton-icon {
            width: 11px;
            height: 11px;
        }
    }

    .field-checkbox {
        font-size: 14px;
    }
}

::ng-deep .dropdown-items-with-img {
    display: flex;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

::ng-deep.disable-input {
    pointer-events: none;
}

::ng-deep .p-multiselect-label,
::ng-deep.p-multiselect-panel .p-multiselect-header,
::ng-deep.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    padding: 0.65625rem 0.65625rem !important;
    font-size: 14px;
    height: 41px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

::ng-deep.p-checkbox .p-checkbox-box {
    width: 20px;
    height: 20px;
}

::ng-deep.p-inputtext-sm .p-inputtext {
    font-size: 14px !important;
}

::ng-deep nb-user .user-picture {
    border: solid 1px #1654bb;
}

// notifications


::ng-deep.notification-container {
    min-width: 300px;

    .p-divider-horizontal {
        margin: unset;
    }

    .notification-body {
        max-height: 40vh;
        overflow: auto;
    }

    .notification-card {
        padding: 0 10px 5px 10px;
    }

    .notification-header {
        padding: 10px;
        background: #f8f9fa;
        color: #343a40;
    }

    .noti-date {
        color: #6c757d;
    }

    .noti-done-icon {
        width: 10px;
        height: 10px;
        transform: translate(-22%, 20%);
    }

    .noti-mark-read {
        color: #1a65e6;
    }
}

::ng-deep.p-overlaypanel {
    z-index: 9999 !important;
    padding: unset;

    .p-overlaypanel-content {
        padding: unset;
    }
}

// custom-order-list

::ng-deep.p-orderlist {
    .p-orderlist-controls {
        padding: 5px;

        .p-button {
            padding: unset;
            width: 30px;
            height: 30px;
        }
    }

    .p-orderlist-header {
        padding: 10px;
        font-size: 14px;
    }

    .p-orderlist-list {
        padding: unset;

        .p-orderlist-item {
            padding: 0.5rem;
        }
    }
}