<!-- <mat-divider></mat-divider> -->
<mat-dialog-content class="mat-typography">
  <form [formGroup]="frmData" class="container">
    <div class="row">
      <div class="p-fluid p-grid p-formgrid p-md-1">
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <div class="p-field p-col-12">
            <label class="fs-14 fw-500" for="from">From</label>
            <p-calendar class="p-inputtext-sm" formControlName="from" [timeOnly]="true" id="from"></p-calendar>
            <mat-error *ngIf="
                frmData?.controls?.from?.errors &&
                (frmData?.controls?.from?.dirty || 
                frmData?.controls?.from?.touched)">
              {{ frmData?.controls?.from["errorMessage"] }}</mat-error>
          </div>
          <div class="p-field p-col-12">
            <label class="fs-14 fw-500" for="to">To</label>
            <p-calendar class="p-inputtext-sm" formControlName="to" [timeOnly]="true" id="to"></p-calendar>
            <mat-error *ngIf="
                frmData?.controls?.to?.errors &&
                (frmData?.controls?.to?.dirty || 
                frmData?.controls?.to?.touched)">
              {{ frmData?.controls?.to["errorMessage"] }}</mat-error>
          </div>
          <div class="p-field p-col-12">
            <p-colorPicker formControlName="codeColor"></p-colorPicker>
          </div>
        </div>
      </div>

      <div class="p-fluid p-grid p-formgrid p-md-1">
        <div class="p-field p-col-12">
          <label class="fs-14 fw-500" for="description">Description</label>
          <textarea pInputTextarea class="p-inputtext-sm" formControlName="description" id="description"></textarea>
          <mat-error *ngIf="
              frmData?.controls?.description?.errors &&
              (frmData?.controls?.description?.dirty || 
              frmData?.controls?.description?.touched)">
            {{ frmData?.controls?.description["errorMessage"] }}</mat-error>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<div class="dialog-header" fxLayout="row" fxLayoutAlign="end end" mat-dialog-title
  style="margin: unset; padding-top: 40px" [nbSpinner]="isLoading">
  <p-button
    label="Delete" [disabled]="!frmData.valid" [loading]="isLoading" icon="pi pi-times" (click)="deleteData()"
    styleClass="p-button-sm p-button-rounded p-button-outlined p-button-danger"></p-button>
  <p-button
    label="Save" [disabled]="!frmData.valid" [loading]="isLoading" icon="pi pi-save" (click)="saveData()"
    styleClass="p-button-sm p-button-rounded p-button-outlined p-button-success"></p-button>
</div>